.mainCard {
    background: rgba(240, 240, 240);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    height: 500px;
    display: table;
    flex-direction: column;
    clear: both;
    position: relative;
}

.loginCard {
    background: rgba(240, 240, 240);
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    height: 260px;
    display: table;
    flex-direction: column;
    clear: both;
    position: relative;
    text-align: center;
}


h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.forminput {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}

p {
    line-height: 1.5em;
}


.forminput {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    color: #a9a9a9;
    margin: auto;
    width: 80%;
    margin-bottom: 1em;
    height: 50px;
    right: 10px;
    left: 10px;
    text-align: center;
}



.inputsubmit {
    background: #b5cd60;
    border: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.inputsubmit:hover {
    background: #16aa56;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: 3px solid #f1f1f1;
    width: 500px;
    margin: 0 auto;
}

input[type=email],
input[type=password],
input[type=team],
input[type=school],
input[type=text],
input[type=name2] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;
}

.form_frame {
    background-color: white;
    margin: 0 auto;
    border: 0px solid #f1f1f1;
    width: 90%;
}

span.psw {
    float: auto;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

::selection {
    background: #ff5e99;
}



.cookieConsentContainer {
    z-index: 999;
    width: 200px;
    min-height: 20px;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    background: #232323;
    overflow: hidden;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

.cookieConsentContainer .cookieTitle a {
    font-family: OpenSans, arial, "sans-serif";
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    display: block;
}

.cookieConsentContainer .cookieDesc p {
    margin: 0;
    padding: 0;
    font-family: OpenSans, arial, "sans-serif";
    color: #FFFFFF;
    font-size: 10px;
    line-height: 20px;
    display: block;
    margin-top: 10px;
}

.cookieConsentContainer .cookieDesc a {
    font-family: OpenSans, arial, "sans-serif";
    color: #FFFFFF;
    text-decoration: underline;
}

.cookieConsentContainer .cookieButton a {
    display: inline-block;
    font-family: OpenSans, arial, "sans-serif";
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin-top: 14px;
    background: #000000;
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: center;
    transition: background 0.3s;
}

.cookieConsentContainer .cookieButton a:hover {
    cursor: pointer;
    background: #3E9B67;
}

@media (max-width: 980px) {
    .cookieConsentContainer {
        bottom: 0px !important;
        left: 0px !important;
        width: 100% !important;
    }
}