::selection {
    background: #ff5e99;
}

html,
body {
    height: 100%;
    margin: 0;
    width: 100%;
}

body {
    background-color: #000;
    color: #fff;
    font-family: monospace;
    font-size: 14px;
    float: left;
    color: whitesmoke;

}

#container {
    padding: 1em 1em 1em 1em;
}

#container output {
    clear: both;
    width: 100%;
}

#container output h3 {
    margin: 0;
}

#container output pre {
    margin: 0;
}

#prompt {
    float: left;
    margin-right: 8px;
}

#cmdline {
    float: left;
    margin: 0;
    padding: 0;
    width: 400px;
    border: none;
    background-color: transparent;
    outline: none;
    color: inherit;
    font-family: monospace;
    font-size: 14px;
}

#output .cmd-output .filesystem-ls span {
    margin-right: 2%;
}

#output .cmd-output .filesystem-ls-l span {
    display: block;
}

#output .cmd-output div .is-dir {
    color: rgb(0, 82, 255);
}


@media screen and (max-width: 750px) { 
    body {

        font-size: 24px;

    }
    #cmdline {
        font-size: 24px;
        width: 200px;
    }
    

    
}